/* форма с Reset Password */
.wrapper-formReset {
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  width: 500px;
  height: 600px;
  /* background-color: red; */
}

.logo {
  display: block;
  margin: 37px 187px;
  height: 30px;
  cursor: pointer;
}

.heading {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.text {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #7a7f9a;
}

.wrapper-form {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 400px;
  /* height: 317px; */
  padding: 24px;
  background-color: white;
}

.text-instructions {
  margin-bottom: 24px;
  padding: 11px 32px;
  text-align: center;
  background-color: #cdf7ec;
  border: 1px solid #9befd9;
  font-size: 16px;
  font-weight: normal;
}

.btn {
  margin: 0 auto;
  margin-top: 25px;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 11px;
  background-color: #7269ef;
  font-size: 16px;
  font-weight: bold;
  color: #ffff;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #524cae;
}

.placeholderSignIn::placeholder {
  font-size: medium;
  font-weight: 600;
}

/* блок инпут */
.wrapper-input {
  margin-bottom: 21px;
}

/* текст над инпутом */
.textInput {
  display: flex;
  justify-content: space-between;
}

/* iconCircl кружок ошибки внутри инпута */
.inputReset {
  position: relative;
}

.iconCircl {
  position: absolute;
  top: 41px;
  left: 365px;
  fill: red;
  width: 25px;
  height: 25px;
}

/* красный текст ошибки под инпутом */
.errorTextUnderInput {
  font-size: 14px;
  color: #ef476f;
}

/* footer */
.wrapper-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  width: 400px;
  height: 60px;
}

.link-footer {
  text-decoration: none;
  cursor: pointer;
}

.icon-footer {
  width: 15px;
  height: 15px;
  fill: red;
}
