/* вторая форма с Reset Password */
.wrapper-formReset {
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  width: 500px;
  height: 600px;
  /* background-color: red; */
}

.formReset {
  /* display: none; */
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  width: 500px;
  height: 500px;
  background-color: red;
}

.logo {
  display: block;
  margin: 30px 194px;
  height: 21px;
  cursor: pointer;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.text {
  font-size: 12px;
  text-align: center;
  color: #7a7f9a;
}

