/* форма с Register */
.wrapper-register {
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  width: 500px;
  height: 700px;
  /* background-color: red; */
}

.logo {
  display: block;
  margin: 37px 187px;
  height: 30px;
  cursor: pointer;
}

.heading {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.text {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #7a7f9a;
}

.wrapper-form {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 400px;
  padding: 24px;
  background-color: white;
}

.btn {
  margin: 0 auto;
  margin: 9px 0px 16px 0px;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 11px;
  background-color: #7269ef;
  font-size: 16px;
  font-weight: bold;
  color: #ffff;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #524cae;
}

.text-agree {
  /* background-color: aqua; */
  text-align: center;
  margin-top: 4px;
}

/* текст под кнопкой Reset с линком */
.p {
  font-size: 16px;
  font-weight: 400;
  color: #7a7f9a;
}

.textRef {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  cursor: pointer;
}

/* блок инпут */
.wrapper-input {
  position: relative;
  margin-bottom: 21px;
}

/* iconCircl кружок ошибки внутри инпута */
.iconCircl {
  position: absolute;
  top: 40px;
  left: 359px;
  fill: red;
  width: 25px;
  height: 25px;
}

/* красный текст ошибки под инпутом */
.errorTextUnderInput {
  font-size: 14px;
  color: #ef476f;
}

/* footer */
.wrapper-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  width: 400px;
  height: 60px;
}

.link-footer {
  text-decoration: none;
  cursor: pointer;
}

.icon-footer {
  width: 15px;
  height: 15px;
  fill: red;
}