/* форма с Register */
.wrapper-register {
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  width: 500px;
  height: 700px;
  /* background-color: red; */
}

.logo {
  display: block;
  margin: 30px 194px;
  height: 21px;
  cursor: pointer;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.text {
  font-size: 12px;
  text-align: center;
  color: #7a7f9a;
}

.wrapper-form {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 400px;
  height: 400px;
  padding: 24px;
  background-color: white;
}

.btn {
  margin: 0 auto;
  margin: 9px 0px 16px 0px;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 11px;
  background-color: #7269ef;
  font-size: 16px;
  font-weight: bold;
  color: #ffff;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #524cae;
}

.text-agree {
  text-align: center;
  margin-top: 4px;
}

.p {
  font-size: 16px;
  color: #7a7f9a;
}

.textRef {
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
}

.placeholderSignIn::placeholder {
  font-size: medium;
  font-weight: 600;
}

/* блок инпут */
.wrapper-input {
  margin-bottom: 21px;
}


/* текст над инпутом */
.textInput {
  display: flex;
  justify-content: space-between;
}


/* footer */
.wrapper-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  width: 400px;
  height: 60px;
}

.link-footer {
  text-decoration: none;
  cursor: pointer;
}

.icon-footer {
  width: 15px;
  height: 15px;
  fill: red;
}