.wrapper-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  width: 400px;
}

.link-footer {
  text-decoration: none;
  cursor: pointer;
}

.icon-footer {
  width: 15px;
  height: 15px;
  fill: red;
}