/* стили для Typography */
.heading {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.text {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #7a7f9a;
}

.h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.p {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}