* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  /* display: flex;  TODO из-за флексов и т.д. исчезает Лого, поэтому это закоментила и надо убрать
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100vh;
}